<ion-header [translucent]="true">
    <ion-toolbar color="dark">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>{{deporte.nombre}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content color="dark">
    <br>
    <section style="text-align: center;">
        <ion-chip outline color="success">
            <ion-label>Hora</ion-label>
        </ion-chip>
        <ion-chip outline color="success">
            <ion-label>Nivel</ion-label>
        </ion-chip>
        <ion-chip outline color="success">
            <ion-label>Participantes</ion-label>
        </ion-chip>
        <ion-chip outline color="success">
            <ion-label>Lugar</ion-label>
        </ion-chip>
        <ion-chip outline color="success">
            <ion-label>Lugar</ion-label>
        </ion-chip>
    </section>
    <hr color="white">
    <div>
        <ion-list>
            <ion-item *ngFor="let evento of eventos;let i = index" color="dark">
                <ion-grid>
                    <ion-row>
                        <ion-col>
                            {{evento.lugar}}
                        </ion-col>
                        <ion-col>
                            {{evento.participantes}} pax
                        </ion-col>
                        <ion-col></ion-col>
                        <ion-col>
                            {{evento.hora}}
                        </ion-col>
                        <ion-col>
                            <ion-icon name="add-circle" style="width: 30px; height: 30px;" (click)="presentAlert(i)"></ion-icon>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-item>
        </ion-list>
    </div>
</ion-content>