<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>
      Perfil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"  color="dark">
  <ion-header collapse="condense">
    <ion-toolbar color="dark">
      <ion-title size="large">Perfil (Foto)</ion-title>
    </ion-toolbar>
    <h2>Nombre + Apellidos</h2>
    <h6>Cantidad Amigos</h6>
    <ion-list>
      <ion-item color="dark">
        <ion-label>Fecha de nacimiento</ion-label>
      </ion-item>
      <ion-item color="dark">
        <ion-label>Lugar de residiencia</ion-label>
      </ion-item>
      <ion-item color="dark">
        <ion-label>Deportes favoritos con respectivos niveles</ion-label>
      </ion-item>
      <ion-item color="dark">
        <ion-label>Disponibilidad horaria</ion-label>
      </ion-item>
    </ion-list>
    <br>
    <ion-list>
      <ion-item color="dark">
        Lista de ultimos eventos
      </ion-item>
    </ion-list>
  </ion-header>

</ion-content>
