 <ion-header [translucent]="true" color="dark">
  <ion-toolbar color="dark">
    <ion-title>
      LISTA DE EVENTOS
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark" *ngIf="eventos">
  <mat-list>
    <mat-list-item color="dark" *ngFor="let evento of eventos" (click)="goChat(evento)">
      <ion-avatar slot="start" mat-list-avatar>
        <ion-icon name={{nombrarIcono(evento.deporte.nombre)}}></ion-icon>
      </ion-avatar>
      <ion-label mat-line>
        <h1 mat-line>{{evento.deporte.nombre}}</h1>
      </ion-label>
      <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
    </mat-list-item>
  </mat-list>
</ion-content>

