<ion-header [translucent]="true" color="dark">
  <ion-toolbar color="dark">
    <ion-title>
      Lista de Eventos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="dark" *ngIf="eventos">
  <ion-header collapse="condense">
    <ion-toolbar color="dark">
      <ion-title size="large">Lista Eventos</ion-title>
    </ion-toolbar>
  </ion-header>
  <mat-list>
    <mat-list-item color="dark" *ngFor="let evento of eventos" (click)="goChat()">
      <ion-avatar slot="start" mat-list-avatar>
        <ion-icon name={{nombrarIcono(evento.deporte.nombre)}}></ion-icon>
      </ion-avatar>
      <ion-label mat-line>
        <h1 mat-line>{{evento.deporte.nombre}}</h1>
        <h3 mat-line>{{evento.fecha}} {{evento.hora}}</h3>
        <h3 mat-line>{{evento.lugar}}</h3>
      </ion-label>
    </mat-list-item>
  </mat-list>
</ion-content>
