input {
    position: absolute;
    color: black;
    bottom: 5px;
    border-radius: 50px;
    width: 80%;
    height: 35px;
    border: solid 1px #27D58F;
}

ion-icon {
    width: 39px;
    height: 39px;
    position: absolute;
    bottom: 5px;
    right: 11px;
    color: #27D58F;
}
