<ion-header [translucent]="true">
    <ion-toolbar color="dark">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>{{deporte.nombre}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content color="dark">

    <section style="display: flex; justify-content: center; margin-top: 50%;">
        <ion-button expand="block" size="large" style="margin-right: 1%;" (click)="crearEvento()">Crear Evento</ion-button>
        <ion-button expand="block" size="large" style="margin-left: 1%;" (click)="buscarEvento()">Buscar Evento</ion-button>
    </section>

</ion-content>