<ion-header [translucent]="true">
    <ion-toolbar color="dark">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>{{deporte.nombre}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content color="dark">

    <ion-card>
        <ion-card-header>
            <ion-card-title>Crea un evento</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            Crea un evento para que los usuarios puedan unirse y así conocer a más gente y disfrutar del deporte
        </ion-card-content>
        <ion-card-content>
            <ion-button expand="block" color="dark" (click)="crearEvento()">CREAR EVENTO</ion-button>
        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-header>
            <ion-card-title>Busca un evento</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            Busca un evento que se amolde a tus preferencias, conoce a los diferentes usuarios de esta plataforma y practica este deporte
        </ion-card-content>
        <ion-card-content>
            <ion-button expand="block" color="dark" (click)="buscarEvento()">BUSCAR EVENTO</ion-button>
        </ion-card-content>
    </ion-card>

</ion-content>