<ion-content color="dark" padding>
    <div class="titulo">
        <img src="../../../assets/1.0.png" class="icono">
    </div>
    <form [formGroup]="userForm" (ngSubmit)="onLogin(userForm.value)">
        <div class="inputs">
            <input class="inputEmail" type="text" formControlName="email" placeholder="Email">
            <input class="inputPass" type="password" formControlName="password" placeholder="Password">
        </div>
        <!-- <input size="large" type="submit" class="btn--blue btn--add login" [disabled]="!userForm.valid" value="Login"> -->
        <div class="botones">
            <ion-button class="loginButton" expand="block" type="submit" [disabled]="!userForm.valid" color="dark">Iniciar Sesión</ion-button>
            <ion-button class="registerButton" expand="block" href="/register" color="dark">Registrarse</ion-button>
        </div>
    </form>
</ion-content>