<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark" padding>
  <form [formGroup]="userForm" (ngSubmit)="onRegister(userForm.value)">
    <ion-item>
      <ion-label for="email">
        Email
      </ion-label>
      <ion-input type="text" formControlName="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label for="password">
        Password
      </ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>
    <ion-item-divider>
      <input size="large" type="submit" class="btn--blue btn--add" [disabled]="!userForm.valid" value="Register">
      <ion-button size="large" href="/login">Login</ion-button>
    </ion-item-divider>
  </form>
</ion-content>
