.inputs {
    text-align: center;
    height: 100px;
}

input {
    position: relative;
    top: 250px;
    height: 35px;
    width: 250px;
    border-radius: 5px;
    color: black;
}

.botones {
    position: relative;
    top: 350px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.registerButton {
    width: 300px;
    border: 1px solid;
    border-radius: 10px;
    border-color: gray;
}

.loginButton {
    border: 1px solid;
    border-radius: 10px;
    border-color: gray;
    width: 300px;
}

.icono {
    position: absolute;
    top: 100px;
    left: 135px;
}

.sportify {
    position: absolute;
    font-size: 30px;
    top: 190px;
    left: 125px;
    font-family: fantasy;
}

.icono {
    position: absolute;
    top: 50px;
    left: 135px;
}

.sportify {
    position: absolute;
    font-size: 30px;
    top: 150px;
    left: 125px;
    font-family: fantasy;
}