.inputs {
    text-align: center;
    height: 100px;
}

input {
    position: relative;
    top: 50px;
    height: 35px;
    width: 250px;
    border-radius: 5px;
    color: black;
    text-align: center;
}

.botones {
    position: relative;
    top: 250px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.registerButton {
    width: 300px;
    border: 1px solid;
    border-radius: 10px;
    border-color: gray;
}

.loginButton {
    border: 1px solid;
    border-radius: 10px;
    border-color: gray;
    width: 300px;
}

div.titulo {
    text-align: center;
    margin-top: 35px;
}

img {
    width: 300px;
}

ion-datetime {
    margin-top: 2px;
    margin-bottom: 2px;
    height: 35px;
    width: 248px;
    border: solid 2px;
    border-radius: 5px;
    border-color: white;
    background-color: white;
    color: black;
    text-align: center;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    top: 50px;
}

.datetime-placeholder {
    color: grey;
    text-align: center;
}

.input::-webkit-input-placeholder {
    text-align: center;
}

ion-select {
    margin-top: 2px;
    margin-bottom: 2px;
    height: 35px;
    width: 248px;
    border: solid 2px;
    border-radius: 5px;
    border-color: white;
    background-color: white;
    color: black;
    text-align: center;
    position: relative;
    top: 50px;
    margin-left: auto;
    margin-right: auto;
}
