<ion-header [translucent]="true">
    <ion-toolbar color="dark">
        <ion-title>
            DEPORTES
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content color="dark">
    <ion-searchbar color="light" (ionChange)="buscar($event)"></ion-searchbar>
    <mat-list>
        <mat-list-item *ngFor="let deporte of deportes | filtro: textoBuscar" color="dark" detail (click)="deporteSeleccionado(deporte)">
            <mat-divider></mat-divider>
                <ion-label>{{deporte.nombre}}</ion-label>
                <ion-icon name="chevron-forward-outline" slot="end" color="light"></ion-icon>
                <mat-divider></mat-divider>
            </mat-list-item>
    </mat-list>
</ion-content>