<ion-header [translucent]="true">
    <ion-toolbar color="dark">
        <ion-title>
            DEPORTES
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content color="dark">
    <ion-searchbar color="light" (ionChange)="buscar($event)"></ion-searchbar>
    <ion-list>
        <ion-item *ngFor="let deporte of deportes | filtro: textoBuscar" color="dark" detail>
            <ion-label (click)="deporteSeleccionado(deporte)">{{deporte.nombre}}</ion-label>
        </ion-item>
    </ion-list>
</ion-content>