<ion-header [translucent]="true">
    <ion-toolbar color="dark">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Crear Evento</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content color="dark">
    <br>
    <div style="margin-left: 45px; margin-top: 50px;">

        <form [formGroup]="eventoForm" (ngSubmit)="crearEvento(eventoForm.value)">
            <ion-item color="#4F5955">
            <input type="hidden" formControlName="id">
            
            <input [matDatepicker]="picker" [matDatepickerFilter]="dateFilter" formControlName="fecha" placeholder="Fecha">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </ion-item>
        <ion-item color="#4F5955">
            <ion-datetime display-format="h:mm A" picker-format="h:mm A" formControlName="hora" placeholder="Hora" class="datetime"></ion-datetime>
        </ion-item>
        <ion-item color="#4F5955">
            <input formControlName="lugar" placeholder="Lugar">
        </ion-item>
        <ion-item color="#4F5955">
            <input type="number" formControlName="participantes" placeholder="Participantes">
        </ion-item>
        <ion-item color="#4F5955" (click)="participantesPicker()">
            <input value={{nivel}} formControlName="nivel" placeholder="Nivel" *ngIf="nivel === undefined">
            <input value={{nivel.nivel}} formControlName="nivel" placeholder="Nivel" *ngIf="nivel !== undefined">
        </ion-item>
        
        <input type="submit" class="btn--blue btn--add" id="submit" value="Agregar Evento">
    </form>
</div>
</ion-content>